In [1]:
import duckdb

duckdb.sql("""
    SELECT *
    FROM parquet_scan('../data/silver/vehicles/v1/run_date=*/*.parquet')
    LIMIT 10
""").df()

,unique_id,collision_id,vehicle_type,vehicle_make,vehicle_year,run_date
0,20364178,4594551,Sedan,HYUN -CAR/SUV,2016,2026-02-27
1,20369709,4597028,Sedan,MERZ -CAR/SUV,2013,2026-02-27
2,20364064,4594437,Sedan,TOYT -CAR/SUV,2000,2026-02-27
3,20365312,4595216,PK,FORD-TRUCK/BUS,2016,2026-02-27
4,20364170,4594641,Station Wagon/Sport Utility Vehicle,ACUR -CAR/SUV,2016,2026-02-27
5,20364800,4594775,Sedan,NISS -CAR/SUV,2014,2026-02-27
6,20365342,4595088,Station Wagon/Sport Utility Vehicle,FORD -CAR/SUV,2007,2026-02-27
7,20364019,4594438,Sedan,MAZD -CAR/SUV,2015,2026-02-27
8,20364079,4594571,Sedan,BMW -CAR/SUV,2015,2026-02-27
9,20364769,4594810,Sedan,TOYT -CAR/SUV,2018,2026-02-27