In [2]:
import duckdb

duckdb.sql("""
    SELECT *
    FROM parquet_scan('../data/silver/vehicles/v1/run_date=*/*.parquet')
    LIMIT 1000
""").df()

,unique_id,vehicle_type,vehicle_make,vehicle_model,vehicle_year,run_date
0,20364825,Sedan,NaN,None,<NA>,2026-02-26
1,20364178,Sedan,HYUN -CAR/SUV,None,2016,2026-02-26
2,20369709,Sedan,MERZ -CAR/SUV,None,2013,2026-02-26
3,20364064,Sedan,TOYT -CAR/SUV,None,2000,2026-02-26
4,20365312,PK,FORD-TRUCK/BUS,None,2016,2026-02-26
...,...,...,...,...,...,...
995,20364900,Station Wagon/Sport Utility Vehicle,TOYT -CAR/SUV,None,2019,2026-02-26
996,20365547,Sedan,CHEV -CAR/SUV,None,2019,2026-02-26
997,20365339,NaN,NaN,None,<NA>,2026-02-26
998,20814998,Station Wagon/Sport Utility Vehicle,NISS -CAR/SUV,None,2001,2026-02-26
999,20814995,Moped,JIANGSU BAODIAO,None,2022,2026-02-26