In [1]:
import duckdb

duckdb.sql("""
    SELECT *
    FROM parquet_scan('../data/silver/vehicles/v1/run_date=*/*.parquet')
    LIMIT 10
""").df()

,unique_id,vehicle_type,vehicle_make,vehicle_year,run_date
0,20364825,Sedan,NaN,<NA>,2026-02-26
1,20364178,Sedan,HYUN -CAR/SUV,2016,2026-02-26
2,20369709,Sedan,MERZ -CAR/SUV,2013,2026-02-26
3,20364064,Sedan,TOYT -CAR/SUV,2000,2026-02-26
4,20365312,PK,FORD-TRUCK/BUS,2016,2026-02-26
5,20364170,Station Wagon/Sport Utility Vehicle,ACUR -CAR/SUV,2016,2026-02-26
6,20364800,Sedan,NISS -CAR/SUV,2014,2026-02-26
7,20364787,Sedan,NaN,<NA>,2026-02-26
8,20365342,Station Wagon/Sport Utility Vehicle,FORD -CAR/SUV,2007,2026-02-26
9,20364019,Sedan,MAZD -CAR/SUV,2015,2026-02-26